@model BTLNHOM01.Models.DanhMucHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DanhMucHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaSP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
