@model IEnumerable<BTLNHOM01.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h2 class="w3-center w3-text-blue" style=" font-family: Times New Roman; font-size:50px ">khách hàng</h2>

<p>
    <a asp-action="Create">Thêm khách hàng mới </a>
</p>
<table class="w3-table-all w3-hoverable " style="font-family: Times New Roman; font-size:20px">
    <tr class="w3-blue-grey">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiachiKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKH">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKH">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
