@model IEnumerable<BTLNHOM01.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

<h1>ĐƠN HÀNG</h1>
<table id="customers">
  <tr>
    <th>Mã khách hàng </th>
    <th>Date</th>
    <th>Mã nhân viên</th>
  </tr> 
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonHangID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonHangID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonHangID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
