@model BTLNHOM01.Models.phieuxuat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>phieuxuat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thanhtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thanhtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaytao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonHangs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonHangs.DonHangID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
