@model IEnumerable<BTLNHOM01.Models.phieuxuat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thanhtien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonHangs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thanhtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHangs.DonHangID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNV">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNV">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNV">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
