@model IEnumerable<BTLNHOM01.Models.phieuxuat>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
}

<h2 class="w3-center w3-text" style=" font-family: Times New Roman; font-size:50px ">Phiếu xuất</h2>

<p>
    <a asp-action="Create">Tạo phiếu xuất mới</a>
    <a class="btn btn-success" asp-action="Download">Download</a>
</p>
<table class="w3-table-all w3-hoverable " style="font-family: Times New Roman; font-size:20px">
    <tr class="w3-green">

        <th>
            <label>Tên nhân viên</label>
        </th>
        <th>
            <label>Tên hàng</label>
        </th>
        
        <th>
            <label>Số lượng</label>
        </th>
        <th>
            <label>Thành tiền</label>
        </th>
        <th>
            <label>Ngày tạo</label>
        </th>
        <th>
            <label>ID Đơn hàng</label>
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thanhtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHangs.DonHangID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNV">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNV">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNV">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
@using (Html.BeginForm("Index", "DanMucHang", FormMethod.Get, new { id="form1"})){
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page,
            pageSize= ViewBag.psize}), 
            new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, 
            PageClasses = new string[] { "page-link" }})
        </div>
        <div class="col-md-1">
            @Html.DropDownList("pagesize", null, new {@class="form-select"})
        </div>
    </div>

}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#pagesize").change(function(){
            $("#form1").submit();
        });
    });
</script>

